/*tela menor que 599px*/
@media screen and (max-width: 599px){
	.container{
		margin-top: 65%;
	 }
     }
     /*tela maior que 600px*/
     @media screen and (min-width: 599px){
     	.coontainer{
     		margin-top: 40%;
     	}
     }
@media screen and (min-width:768px){
	.container{
		margin-top: 20%;}

	header{
      flex-direction: row;
      position:relative; 
	}

	.menu-opcoes{

		position: absolute;
		right: 5%;
		top:45%;

    }
	 .menu-opcoes ul li {
		display: inline;
		margin-left: 10px;
    }

 }

	
body{
			background-color:#4F4F4F;
		}
		header, footer {
  background-color: #4F4F4F;
  padding: 1%;
  font-size: 35px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  line-height: 1.5em;
}
.fixo{
	position: fixed;
	top: 5;
	right: 0;
	left: 0;
	z-index: 1030;
}
.ajustes{
	line-height: 1;
	text-align:center;

}
.ajustes li:hover{
background-color: #708090;
color:blue;
}
        
		h1{ 
			text-align: center;
			color:#1E90FF;
			font-size: 25px;
}	
         h2,h3{
			text-align: center;
			color:#1E90FF;
			font-size: 25px;
}	
        img{
        	display: block;
        	margin-left: auto;
        	margin-right: auto;
        	width:80%;
        }
		
		p{
			color: #F5F5F5;
			font-size: 20px;
			margin-bottom:1%; 
			margin-top:1%;
			text-align:justify;
            margin-left: 30px;				
}
 .listastexto{
            color: #F5F5F5 ;
		    font-size: 20px ;
		    text-align:justify;
            margin-left: 30px;	
         }

.titulos{
	text-align: center;
			color:#1E90FF;
			font-size: 25px;
}
.container{
	width: 80%
	padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-top: 25%;

}
 .center{
 	     display: block;
 	     margin-left: auto;
 	     margin-right: auto;
 	     width: 15em; 
}

.imgtexto{
	 display: block;
 	     margin-left: auto;
 	     margin-right: auto;
 	     text-align: 1.0em;
}
.imglogo{
	width: 20%;
 	position: absolute;
 	top: 10px;
 	left: 16px; 	
}
 
      td,th{
      	border: 0.1em solid #F5F5F5;
      	text-align: center;
      	padding: 0.7em;
      }
      table{
      	color: #F5F5F5;
		font-size: 20px;
		margin-left: 30px;
}
      <style>
             a:link {
              color: white;
              background-color: transparent;
              text-decoration: none;
            }
             a:visited {
              color: pink;
              background-color: transparent;
              text-decoration: none;
            }
             a:hover {
              color: blue;
             background-color: transparent;
             text-decoration: underline;
            }

             a:active {
              color: purple;
              background-color: transparent;
              text-decoration: underline;
          }      
         </style}